.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.body {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  background: transparent;
  border-radius: 0 0 10px 10px;
  overflow-y: scroll;
  padding-bottom: 50px;
}